{% extends "base.html" %}

{% block title %}View{% endblock title %}

{% block body %}

    <main class="flex flex-col items-center justify-center mx-auto p-4">
        <div class="flex flex-col w-[841px] bg-white shadow-xl items-center justify-center rounded-lg overflow-hidden mb-4">
            <div>
                <img src="{{recipe.cover.url}}" alt="">
            </div>
            <div class="p-4">
                <h2 class="text-2xl font-bold">{{recipe.title}}</h2>
            </div>
            <div class="flex px-4 text-sm space-x-4 text-gray-500">
                <span>
                    <i class="fas fa-user"></i>
                    {{recipe.author.first_name}}
                </span>
                <span>
                    <i class="fas fa-calendar-alt"></i>
                    {{recipe.created_at|date:"d/m/Y"}}
                </span>
                <span>
                    <a href="#" class="text-blue-500 hover:text-blue-700">
                        <i class="fas fa-layer-group"></i>
                        {{recipe.category.name}}
                    </a>
                </span>
            </div>
            <div class="p-4 text-justify">
                <p>{{recipe.preparation_steps}}</p>
            </div>
            <div class="flex w-full justify-around px-4 pb-4">
                <div>
                    <h3 class="font-bold"><i class="fas fa-stopwatch"></i> Preparo</h3>
                    <span>{{recipe.preparation_time}} Minutos</span>
                </div>
                <div>
                    <h3 class="font-bold"><i class="fas fa-pizza-slice"></i> Porções</h3>
                    <span>{{recipe.servings}} Porções</span>
                </div>
            </div>
        </div>
    </main>

{% endblock body %}