<div class="flex flex-col items-center justify-center max-w-7xl mx-auto p-4 mt-4">
    <form action="" class="flex border max-w-5xl min-w-3xl rounded-sm has-[input:focus-within]:outline-2 has-[button:focus-within]:outline-2 has-[input:focus-within]:outline-indigo-600 has-[input:focus-within]:bg-white has-[button:focus-within]:outline-2 has-[button:focus-within]:outline-indigo-600">
        <input type="search" name="search" class="flex-1 p-1 focus:outline-none">
        <button type="submit" class="py-1 px-2 cursor-pointer focus:outline-1 focus:bg-black/10 focus:outline-indigo-600"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>